@model Petty.Models.BooksModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <p>
        <form asp-controller="BookList" asp-action="SaveChanges" method="post">

            <label asp-for="Book_Title">Название</label>
            <input type="text" asp-for="Book_Title" name="Book_Title" required><br><br>

            <label asp-for="Book_Description">Описание</label>
            <input type="text" asp-for="Book_Description" name="Book_Description" required><br><br>

            <label asp-for="Book_Author">Автор</label>
            <input type="text" asp-for="Book_Author" name="Book_Author" required><br><br>

            <label asp-for="Book_Amount">Количество</label>
            <input type="number" asp-for="Book_Amount" name="Book_Amount" required><br><br>

            <label asp-for="Book_Price">Цена</label>
            <input type="number" asp-for="Book_Price" name="Book_Price" required><br><br>

            <input type="hidden" asp-for="Book_Id" value="@Context.Request.RouteValues["id"]" />

            <button type="submit" name="Save">Save</button>

        </form>
    </p>
</body>
</html>